{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <main class="container py-5 text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Grams</th>
                    <th scope="col">Cal_100gr</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    {%   if transaction["SUM(grams)"] > 0 %}
                    <tr>
                        <td>{{ transaction["product"] }}</td>
                        <td>{{ transaction["SUM(grams)"] }}</td>
                        <td>{{ transaction["cal_100gr"] }}</td>
                        <td>{{ transaction["cal_100gr"] * transaction["SUM(grams)"]/100 }}</td>
                    </tr>
                    {%   endif %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <th scope="col">Your daily calorie intake</th>
                    <th scope="col">{{ calorie_intake[0]['calorie_intake'] }}</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <th scope="col">Remaining calorie balance</th>
                    <th scope="col">{{ remaining_calorie_balance[0]["remaining_calorie_balance"] }}</th>
                </tr>
            </tfoot>
        </table>
        <form action="/reset" method="post">
            <button class="btn btn-primary" type="submit">Reset (Start From Scratch)</button>
        </form>
    </main>
{% endblock %}

