{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <main class="container py-5 text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    {%   if transaction["SUM(shares)"] > 0 %}
                    <tr>
                        <td>{{ transaction["symbol"] }}</td>
                        <td>{{ transaction["SUM(shares)"] }}</td>
                        <td>${{ transaction["price"] }}</td>
                        <td>${{ transaction["price"] * transaction["SUM(shares)"] }}</td>
                    </tr>
                    {%   endif %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <th scope="col">Cash</th>
                    <th scope="col">${{ balance[0]['cash'] }}</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <th scope="col">Total</th>
                    <th scope="col">$10,000.00</th>
                </tr>
            </tfoot>
        </table>
    </main>
{% endblock %}

